/**
 * 1. Guard for horizontal scrolling
 * 2. Prefered instead of global 'text' cursor
 * 3. Prefered text rendering
 * 4. Prefered svg text sizing
 * 5. Disable Chrome on Android refreshing the page at scroll end
 * 6. Enfoce smooth scrolling
 */

:root {
  width: 100%; /* 1 */
  height: 100%; /* 2 */
  overflow-x: hidden; /* 1 */
  cursor: default; /* 2 */
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; /* 3 */
  -moz-osx-font-smoothing: grayscale; /* 3 */
  text-rendering: geometricPrecision; /* 4 */
  scroll-behavior: auto; /* 5 */
  font-size: var(--root-font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background: var(--color-background);
  color: var(--color);
}

body {
  width: 100%;
  height: auto;
  overscroll-behavior: none; /* 6 */
  overflow: hidden;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/**
 * Sensible defaults
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
iframe,
figure {
  margin: 0;
  border: 0;
  list-style: none;
  padding: 0;
  font-size: inherit;
}

svg,
img,
video,
iframe {
  display: inline-block;
  vertical-align: bottom;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

strong {
  font-weight: 700;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
}

/**
 * Shorten touch tap delays
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/**
 * Limit focus styles to keyboard navigation
 */

:focus-visible {
  outline: solid var(--focus-ring-width) !important;
  outline-color: var(--focus-ring-color) !important;
}

:focus:not(:focus-visible) {
  outline: 0 !important;
}
