@font-face {
  font-family: 'CC';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./cc.woff2') format('woff2');
}

@font-face {
  font-family: 'BN';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('./bn.woff2') format('woff2');
}

:root {
  --root-font-size: 100%;
  --font-size: clamp(0.875rem, 2.5vw, 1.15rem);
  --font-family: 'CC', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', sans-serif;
  --font-family-heading: 'BN', -apple-system, 'BlinkMacSystemFont', 'Segoe UI',
    'Roboto', 'Helvetica', 'Arial', sans-serif;
  --line-height: 1.2;
  --line-height-heading: 1.1;
  --color: #fffd54;
  --color-background: #000;

  --doc-margin: 5vw;

  --focus-ring-width: 3px;
  --focus-ring-color: var(--color);

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-spring: cubic-bezier(0, 0, 0.2, 3);
}

:root.red {
  --color: #fffd54;
  --color-background: #ea334a;
}

/**
* Visually scale down the app on narrow viewports,
* 320px screen widths will map quite well with 375px
*/

@media (max-width: 350px) {
  :root {
    --root-font-size: 85%;
  }
}
